[submodule "notebooks/Rwanda24/15-Mon-NeuralCodesHopfield/HopfieldNetworkTutorial"]
	path = notebooks/Rwanda24/15-Mon-NeuralCodesHopfield/HopfieldNetworkTutorial
	url = https://github.com/TomGeorge1234/HopfieldNetworkTutorial/
[submodule "notebooks/Rwanda24/15-Mon-NeuralCodesHopfield/ModellingSpatialRepresentations"]
	path = notebooks/Rwanda24/15-Mon-NeuralCodesHopfield/ModellingSpatialRepresentations
	url = https://github.com/TomGeorge1234/ModellingSpatialRepresentations/
[submodule "notebooks/Rwanda24/19-Fri-BackProp/DeepLearningTutorial"]
	path = notebooks/Rwanda24/19-Fri-BackProp/DeepLearningTutorial
	url = https://github.com/TomGeorge1234/DeepLearningTutorial
